.App-header-login {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #613d3a;
  vertical-align: middle;
}

.loginComponent{
  width: 100%;
  position: absolute;
  top: 25vh;
}

.App-header{
  background-color: #613d3a;
  width: 100%;
  height: 100vh;
}

.messagesComp{
  height: 100vh;
  width: 100%;
}

