.messageComponent {
    height: 80vh;
    width: 50%;
    background-color: bisque;
    position: relative;
   
}

.messages{
    overflow: scroll;
    overflow-x: hidden;
    height: 70vh;
    color: black;
}

.messageGrid{
    position: absolute;
    bottom: 5px;
    width: 80%;
}

.messageInput{
    width: 95%;
}
