.messageComponent {
    height: 80vh;
    width: 50%;
    background-color: whitesmoke;
    position: relative;
   
}

.messages{
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    height: 70vh;
    color: black;
}

.userMessage{
    float: right;
    clear: both;;
    background-color: yellowgreen;
    margin: 3px;
    padding: 3px;
    border-radius: 5px;
}

.friendMessage{
    float: left;
    clear: both;
    background-color: yellowgreen;
    margin: 3px;
    padding: 3px;
    border-radius: 5px;
}

.messageGrid{
    position: absolute;
    bottom: 5px;
    width: 80%;
}

.messageInput{
    width: 95%;
}
